<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>登录</h1>
    <form action="/checkLogin" method='POST' >
        姓名：<input type="text" name='name' id='name' /><br/>
        密码：<input type="password" name='password' id='password'/><br/>
        <input type='submit' onclick="postLy(this);return false;"/>
    </form>
    </body>
</html>